<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nurse.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @nurse.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @nurse.age %>
</p>

<p>
  <strong>Coren:</strong>
  <%= @nurse.coren %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @nurse.cpf %>
</p>

<%= link_to 'Edit', edit_nurse_path(@nurse) %> |
<%= link_to 'Back', nurses_path %>
