<%= form_for(@duty) do |f| %>
  <% if @duty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@duty.errors.count, "error") %> prohibited this duty from being saved:</h2>

      <ul>
      <% @duty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :turn %><br>
    <%= f.text_field :turn %>
  </div>
  <div class="field">
    <%= f.label :day_id %><br>
    <%= f.text_field :day_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
